<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置注解扫描的包-->
    <context:component-scan base-package="com.xiaowu.controller"/>


    <!--配置一个视图解析器
    内部资源视图解析器
    由于不需要被别人应用，一般就不写id，自动在容器中配置，生效
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--1 前缀-->
        <property name="prefix" value="/jsp/"/>

        <!--2 后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--注册一个bean-->
    <bean class="com.xiaowu.controller.HelloController" name="/helloController">

    </bean>

    <!--这里会和restful风格冲突-->

    <!--默认的servelt处理者-->
    <mvc:default-servlet-handler/>
    <!--只加上上面它一个的话，相当于全部让它处理了-->
    <!--为了让原有的controller生效，要加一个注解驱动-->
    <mvc:annotation-driven/>
    <!--<mvc:resources mapping="/static/css/*" location="static/css/"/>-->

</beans>
